{
  "extends": "./shared/eslint.json",
  "rules": {
    "global-require": "off",
    "no-bitwise": "off",
    "no-console": "off",
    "no-process-exit": "off",
    "unicorn/no-process-exit": "off",
    "node/shebang": "off"
  }
}
