{
  "extends": "./shared/eslint.json",
  "rules": {
    "global-require": "off",
    "no-bitwise": "off",
    "no-console": "off",
    "no-process-exit": "off",
    "node/no-unsupported-features/es-syntax": ["error", { "ignores": ["dynamicImport"] }],
    "unicorn/no-process-exit": "off"
  }
}
